# La etenerna pregunta tiene respuest? Quien es mejor? MJ, KB o LB

### Importamos las bibliotecas

In [2]:
import pymysql
import sqlalchemy as alch # python -m pip install --upgrade 'sqlalchemy<2.0'
from getpass import getpass
import pandas as pd

### Importamos los csv que vamos a usar. En este caso:

#### TOTALS STATS

In [3]:
totals_stats = pd.read_csv("/Users/davidmartinfernandez/Desktop/Ironhack/Proyectos/Project_Sql_Tableu/datasets/mj_ kb_lj_stats/totals_stats.csv")

In [36]:
totals_stats.head(1)

,Season,Age,Tm,Lg,Pos,G,GS,MP,FG,FGA,...,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,Player,RSorPO
0,2003-04,19,CLE,NBA,SG,79,79,3122,622,1492,...,333,432,465,130,58,273,149,1654,Lebron James,Regular Season

#### ALLGAMES_STATS

In [7]:
allgames_stats = pd.read_csv("/Users/davidmartinfernandez/Desktop/Ironhack/Proyectos/Project_Sql_Tableu/datasets/mj_ kb_lj_stats/allgames_stats.csv")

In [14]:
allgames_stats.head(1)

,G,Date,Tm,X,Opp,Result,GS,MP,FG,FGA,...,TRB,AST,STL,BLK,TOV,PF,PTS,GmSc,Player,RSorPO
0,1,1996-11-03,LAL,NaN,MIN,W,0,6:00,0.0,1.0,...,1,0,0.0,1.0,1,1,0.0,-1.1,Kobe Bryant,Regular Season

#### ALLSTAR GAMES STATS

In [10]:
allstar_games_stats = pd.read_csv("/Users/davidmartinfernandez/Desktop/Ironhack/Proyectos/Project_Sql_Tableu/datasets/mj_ kb_lj_stats/allstar_games_stats.csv")

In [15]:
allstar_games_stats.head(1)

,Season,Age,Tm,Lg,Pos,G,GS,MP,FG,FGA,...,FT%,ORB,TRB,AST,STL,BLK,TOV,PF,PTS,Player
0,2004-05,20,CLE,NBA,SF,1.0,1.0,31:25,6.0,13.0,...,0.0,1.0,8.0,6.0,2.0,0.0,3.0,0.0,13.0,Lebron James

#### GAME HIGHS STATS

In [17]:
game_highs_stats = pd.read_csv("/Users/davidmartinfernandez/Desktop/Ironhack/Proyectos/Project_Sql_Tableu/datasets/mj_ kb_lj_stats/game_highs_stats.csv")

In [20]:
game_highs_stats.head(1)

,Season,Age,Tm,Lg,MP,FG,FGA,3P,3PA,2P,...,TRB,AST,STL,BLK,TOV,PF,PTS,GmSc,Player,RSorPO
0,2003-04,19,CLE,NBA,NaN,15,29,5,10,15,...,16,13,6,5,8,5,41,39.0,Lebron James,Regular Season

#### ADVANCED STATS

In [21]:
advanced_stats = pd.read_csv("/Users/davidmartinfernandez/Desktop/Ironhack/Proyectos/Project_Sql_Tableu/datasets/mj_ kb_lj_stats/advanced_stats.csv")

In [27]:
advanced_stats.head(1)

,Season,Age,Tm,Lg,Pos,G,MP,PER,TS%,3PAr,...,OWS,DWS,WS,WS/48,OBPM,DBPM,BPM,VORP,Player,RSorPO
0,2003-04,19,CLE,NBA,SG,79,3122,18.3,0.488,0.145,...,2.4,2.6,5.1,0.078,2.2,-0.2,1.9,3.1,Lebron James,Regular Season

#### PER GAME STATS

In [28]:
per_game_stats = pd.read_csv("/Users/davidmartinfernandez/Desktop/Ironhack/Proyectos/Project_Sql_Tableu/datasets/mj_ kb_lj_stats/per_game_stats.csv")

In [37]:
per_game_stats.head(1)

,Season,Age,Tm,Lg,Pos,G,GS,MP,FG,FGA,...,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,Player,RSorPO
0,2003-04,19,CLE,NBA,SG,79,79,39.5,7.9,18.9,...,4.2,5.5,5.9,1.6,0.7,3.5,1.9,20.9,Lebron James,Regular Season

#### SALARIES

In [38]:
salaries = pd.read_csv("/Users/davidmartinfernandez/Desktop/Ironhack/Proyectos/Project_Sql_Tableu/datasets/mj_ kb_lj_stats/salaries.csv")

In [44]:
salaries.head(1)

    Season                 Team   Lg    Salary        Player
0  2003-04  Cleveland Cavaliers  NBA  $4018920  Lebron James

In [45]:
password = getpass("Please enter your password: ")

Please enter your password:  ········